<div id="navbar2">
    <nav>
        <ul>
            <li id="li2"><a href="/index" id="Home">Home</a></li>
            <li id="li2"><a href="/bears" id="Bears">Bears</a></li>
            <li id="li2"><a href="/encounters" id="Encounters">Encounters</a></li>
            <li id="li2"><a href="/humans" id="Humans">Humans</a></li>
            <li id="li2"><a href="/parks" id="Parks">Parks</a></li> 
        </ul>
    </nav>
</div>
<h1>Manage Bears</h1>
<div>
<form>
    <fieldset>
        <legend>Create New Bear Bio</legend>
        <label for="bearname">Bear Name (required):</label>
        <input type="text" id="bearname" name="bearname">
        <br>
        <label for="species">Bear Species:</label>
        <input type="text" id="species" name="species">
        <br>
        <label for="tattoos">Bear's Identifying Tattoos:</label>
        <input type="text" id="tattoos" name="tattoos">
        <br>
        <input type="submit" id="submitbutton">
    </fieldset>
</form>
</div>

<div>
    <form>
    <fieldset>
        <legend>Update Bear Record</legend>
        <p>Enter existing bear, and data to be updated:</p>
        <label for="bearName">Name:</label>
        <select id="bears" name="bears">
            <option value="">Choose a bear</option>
            <option value="bearID_1">Megan</option>
            <option value="bearID_2">Jeff</option>
        </select>
        <br>
        <label for="species">Species:</label>
        <input type="text" id="species" name="species">
        <br>
        <label for="tattoos">Identifying tattoos:</label>
        <input type="text" id="tattoos" name="tattoos"><br>
        <input type="submit" id="submitbutton">
    </fieldset>
</form>
<br>
</div>

<div>
    <form>
    <fieldset>
        <legend>Search Bears:</legend>
        <label for="bearsearch">Search Word:</label>
        <input type="search" id="bearsearch" name="bearsearch">
        <br>
        <input type="submit" value="Search" id="submitbutton">
    </fieldset>
</form>
</div>

<h2>Bears</h2>
<table>
    <tr>
        <th>bearID</th>
        <th>Name</th>
        <th>Species</th>
        <th>Identifying Tattoos</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Megan</td>
        <td>Polar Bear</td>
        <td>Right hand: Four leaf clover.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Jeff</td>
        <td>Koala Bear</td>
        <td>Left Pectoral: Two bears High-Fiving. Right Knuckles: M A U L.</td>
    </tr>