<p><a href="/index" id="home">Home</a></p>
<h1>Manage Bears</h1>
<div>
<form>
    <fieldset>
        <legend>Insert Bear</legend>
        <label for="bearname">Bear Name:</label>
        <input type="text" id="bearname" name="bearname">
        <label for="species">Species:</label>
        <input type="text" id="species" name="species">
        <label for="tattoos">Identifying tattoos:</label>
        <input type="text" id="tattoos" name="tattoos"><br>
        <input type="submit" id="submitbutton">
    </fieldset>
</form>
</div>
<div>
    <form>
    <fieldset>
        <legend>Search Bears</legend>
        <label for="bearsearch">Search:</label>
        <input type="search" id="bearsearch" name="bearsearch"><br>
        <input type="submit" value="Search" id="submitbutton">
    </fieldset>
</form>
</div>

<div>
    <form>
    <fieldset>
        <legend>Update Bear</legend>
        <label for="bearID">bearID:</label>
        <input type="number" id="bearID" name="bearID">
        <label for="bearName">Name:</label>
        <input type="text" id="bearName" name="bearName">
        <label for="species">Species:</label>
        <input type="text" id="species" name="species">
        <label for="tattoos">Identifying tattoos:</label>
        <input type="text" id="tattoos" name="tattoos"><br>
        <input type="submit" id="submitbutton">
    </fieldset>
</form>
<br>
</div>
<h2>View bears</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Species</th>
        <th>Identifying Tattoos</th>
    </tr>
    <tr>
        <td>Megan</td>
        <td>Polar Bear</td>
        <td>Four leaf clover on hand</td>
    </tr>
    <tr>
        <td>Jeff</td>
        <td>Koala Bear</td>
        <td>NULL</td>
    </tr>