<div id="navbar2">
    <nav>
        <ul>
            <li id="li2"><a href="/index" id="Home">Home</a></li>
            <li id="li2"><a href="/bears" id="Bears">Bears</a></li>
            <li id="li2"><a href="/encounters" id="Encounters">Encounters</a></li>
            <li id="li2"><a href="/humans" id="Humans">Humans</a></li>
            <li id="li2"><a href="/parks" id="Parks">Parks</a></li> 
        </ul>
    </nav>
</div>
<h1>Bear Management</h1>
<h2>Add Bears to or remove Bears from Encounters</h2>


<div>
<form>
    <fieldset>
        <legend>Add Bear to Encounter</legend>
        <label for="bearID">Bear ID:</label>
        <input type="number" id="bearID" name="bearID">
        <label for="encounterID">Encounter ID:</label>
        <input type="number" id="encounterID" name="encounterID">
        <br>
        <input type="submit" id="submitbutton">
    </fieldset>
</form>
</div>

<br>

<div>
<form>
    <fieldset>
        <legend>Remove Bear from Encounter</legend>
        <label for="bearID">Bear ID:</label>
        <input type="number" id="bearID" name="bearID">
        <label for="encounterID">Encounter ID:</label>
        <input type="number" id="encounterID" name="encounterID">
        <br>
        <input type="submit" id="submitbutton">
    </fieldset>
</form>
</div>


<h2>Bear/Encounter Table</h2>
<table>
    <tr>
        <th>bearID</th>
        <th>encounterID</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
    </tr>
        <tr>
        <td>2</td>
        <td>1</td>
    </tr>
        <tr>
        <td>2</td>
        <td>2</td>
    </tr>

</table>
