<p><a href="/index" id="home">Home</a></p>
<h1>Manage Encounters</h1>
<div>
<form>
    <fieldset>
        <legend>Insert Encounter</legend>
        <label for="parkID">Park ID:</label>
        <input type="number" id="parkID" name="parkID">
        <label for="encounterdate">Date:</label>
        <input type="date" id="encounterdate" name="encounterdate">
        <label for="baskets">Number of baskets stolen:</label>
        <input type="number" min="0" id="baskets" name="baskets"><br>
        <label for="photos">Number of photos taken:</label>
        <input type="number" min="0" id="photos" name="photos">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description"><br>
        <input type="submit" id="submitbutton">
    </fieldset>
</form>
</div>


<br>
<h2>View Encounters</h2>
<table>
    <tr>
        <th>Park</th>
        <th>Date</th>
        <th>Baskets Stolen</th>
        <th>Photos Taken</th>
        <th>Description</th>
        <th>Bear</th>
        <th>Human</th>
    </tr>
    <tr>
        <td>Redwood</td>
        <td>01-01-1999</td>
        <td>0</td>
        <td>100</td>
        <td>NULL</td>
        <td>Jeff</td>
        <td>John</td>
    </tr>
    <tr>
        <td>Grand Canyon</td>
        <td>05-19-2020</td>
        <td>1</td>
        <td>2</td>
        <td>NULL</td>
        <td>Megan</td>
        <td>Acacia</td>
    </tr>
</table>