<div class="navbar2">
    <nav>
        <ul>
            <li id="li2"><a href="/index" id="Home">Home</a></li>
            <li id="li2"><a href="/encounters" id="Encounters"><b>Encounters</b></a></li>
            <li id="li2"><a href="/bears" id="Bears">Bears</a></li>
            <li id="li2"><a href="/humans" id="Humans">Humans</a></li>
            <li id="li2"><a href="/parks" id="Parks">Parks</a></li> 
        </ul>
    </nav>
</div>
<h1>Manage Encounters</h1>
<div>
<form>
    <fieldset>
        <legend>Create Encounter</legend>
        <label for="parkID">Park name (choose "NULL" if encounter occurred ouside of a Park):</label>
        <select id="parks" name="parks">
            <option value="">Choose a park</option>
            <option value="parkID_1">Redwood</option>
            <option value="parkID_2">Grand Canyon</option>
            <option value="noPark">NULL</option>
        </select>
        <br>
        <label for="encounterdate">Date (required):</label>
        <input type="date" id="encounterdate" name="encounterdate">
        <br>
        <label for="baskets">Number of picnic baskets stolen:</label>
        <input type="number" min="0" id="baskets" name="baskets">
        <br>
        <label for="photos">Number of photos taken:</label>
        <input type="number" min="0" id="photos" name="photos">
        <br>
        <label for="description">Description of incident:</label>
        <input type="text" id="description" name="description">
        <br>
        <input type="submit" value="Create Encounter" id="submitbutton">
    </fieldset>
</form>
</div>





<h2>Add Bears to or remove Bears from Encounters</h2>


<div>
<form>
    <fieldset>
        <legend>Add Bear to Encounter</legend>
        <label for="bearID">Bear name:</label>
        <select id="bears" name="bears">
            <option value="">Choose a bear</option>
            <option value="bearID_1">Megan</option>
            <option value="bearID_2">Jeff</option>
        </select>
        <label for="encounterID">encounterID (required):</label>
        <select id="encounters" name="encounters">
            <option value="">Choose an encounter</option>
            <option value="eID_1">1</option>
            <option value="eID_2">2</option>
        </select>
        <br>
        <input type="submit" value="Add Bear to Encounter" id="submitbutton">
    </fieldset>
</form>
</div>

<br>

<div>
<form>
    <fieldset>
        <legend>Remove Bear from Encounter</legend>
        <label for="bearID">Bear name:</label>
        <select id="bears" name="bears">
            <option value="">Choose a bear</option>
            <option value="bearID_1">Megan</option>
            <option value="bearID_2">Jeff</option>
        </select>
        <label for="encounterID">encounterID (required):</label>
        <select id="encounters" name="encounters">
            <option value="">Choose an encounter</option>
            <option value="eID_1">1</option>
            <option value="eID_2">2</option>
        </select>
        <br>
        <input type="submit" value="Remove Bear from Encounter" id="submitbutton">
    </fieldset>
</form>
</div>
<br>
<h2>Encounters</h2>
<table>
    <tr>
        <th>encounterID</th>
        <th>Park</th>
        <th>Date</th>
        <th>Baskets Stolen</th>
        <th>Photos Taken</th>
        <th>Description</th>
        <th>Bears</th>
        <th>Humans</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Redwood</td>
        <td>01-01-1999</td>
        <td>0</td>
        <td>100</td>
        <td>NULL</td>
        <td>Jeff, Megan</td>
        <td>John Smith, Hap Less</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Grand Canyon</td>
        <td>05-19-2020</td>
        <td>1</td>
        <td>2</td>
        <td>NULL</td>
        <td>Megan</td>
        <td>Acacia Ford</td>
    </tr>
</table>