<h1>Index of web pages</h1>
<p><a href="/index">/index</a> (this page): Page for adding to/removing from/viewing Encounters</p>
<p><a href="/humans">/humans</a> = Page for adding/removing/viewing Humans</p>
<p><a href="/bears">/bears</a> = Page for adding/removing/viewing Bears</p>
<p><a href="/parks">/parks</a> = Page for adding/removing/viewing Parks</p>