<h1>Bearmageddon Tracker</h1>
   <div id="navbar">
      <nav>
        <ul>
          <li id="li1"><a href="/encounters">Encounters</a></li>
          <p>Page for adding and viewing Encounters and editing bear/encounter relationships</p>
          <br>
          <li id="li1"><a href="/humans">Humans</a></li>
          <p>Page for adding and viewing Humans</p><br>
          <li id="li1"><a href="/bears">Bears</a></li>
          <p>Page for adding, viewing, and updating Bears</p>
          <br>
          <li id="li1"><a href="/parks">Parks</a></li>
          <p>Page for adding and viewing Parks</p>
          <br>
        </ul>
      </nav>
    </div>

