<h1>Bearmageddon Tracker</h1>
   <div id=navbar>
      <nav>
        <ul>
          <li><a href="/encounters">Encounters</a></li>
          <p>Page for adding and viewing Encounters</p>
          <br>
          <li><a href="/humans">Humans</a></li>
          <p>Page for adding and viewing Humans</p><br>
          <li><a href="/bears">Bears</a></li>
          <p>Page for adding, viewing, and updating Bears</p>
          <br>
          <li><a href="/parks">Parks</a></li>
          <p>Page for adding and viewing Parks</p>
          <br>
          <li><a href="/bear_encounters">Bear Management</a></li>
          <p>Page for adding and removing Bears in Encounters</p>
        </ul>
      </nav>
    </div>

