<h1>Bearmageddon Tracker</h1>
   <div id=navbar>
      <nav>
        <ul>
          <li><a href="/encounters">Encounters</a></li>
          <p>page for adding and viewing encounters</p><br>
          <li><a href="/humans">Humans</a></li>
          <p>page for adding and viewing humans</p><br>
          <li><a href="/bears">Bears</a></li>
          <p>page for adding, viewing, and updating bears</p><br>
          <li><a href="/parks">Parks</a></li>
          <p>page for adding and viewing parks</p><br>
          <li><a href="/bear_encounters">Bear Encounter Relationships</a></li>
          <p>page for adding and removing bear encounter relationships</p><br>
        </ul>
      </nav>
    </div>

