<div class="navbar2">
    <nav>
        <ul>
            <li id="li2"><a href="/index" id="Home">Home</a></li>
            <li id="li2"><a href="/encounters" id="Encounters">Encounters</a></li>
            <li id="li2"><a href="/bears" id="Bears">Bears</a></li>
            <li id="li2"><a href="/humans" id="Humans">Humans</a></li>
            <li id="li2"><a href="/parks" id="Parks"><b>Parks</b></a></li> 
        </ul>
    </nav>
</div>
<h1>Manage Parks</h1>
<div>
<form>
    <fieldset>
        <legend>Create Park</legend>
        <label for="pname">Park name (required):</label>
        <input type="text" id="pname" name="pname">
        <label for="state">State (required, 2-letter Postal Code):</label>
        <input type="text" id="sname" name="sname" maxlength="2" minlength="2">
        <label for="annualvisitorcount">Annual Visitor Count:</label>
        <input type="number" id="annualvisitorcount" name="annualvisitorcount" minlength="0"><br>
        <input type="submit" value="Create Park" id="createParkButton">
    </fieldset>
</form>
</div>

<div>
<form>
    <fieldset>
        <legend>Remove Park from Encounter</legend>
        <label for="encounterID">Encounter ID:</label>
        <select id="encounterID" name="encounters">
            <option value="">Choose an encounter</option>
            <option value="eID_1">1</option>
            <option value="eID_2">2</option>
        </select>
        <input type="submit" value="Remove Park" id="removeParkButton">
    </fieldset>
</form>
</div>

<div>
<form>
    <fieldset>
        <legend>Add Park to Encounter</legend>
        <label for="parkID">Park name:</label>
        <select id="parkname" name="parks">
            <option value="">Choose a Park</option>
            <option value="parkID_1">Redwood</option>
            <option value="parkID_2">Grandcanyon</option>
        </select>
        <label for="encounterID">Encounter ID:</label>
        <select id="updateEncounterID" name="encounters">
            <option value="">Choose an encounter</option>
            <option value="eID_1">1</option>
            <option value="eID_2">2</option>
        </select>
        <input type="submit" value="Add Park" id="addParkButton">

    </fieldset>
</form>
</div>


<h2>View parks</h2>
<table>
    <tr>
        <th>parkID</th>
        <th>Park name</th>
        <th>State</th>
        <th>Annual Visitor Count</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Redwood</td>
        <td>CA</td>
        <td>504,722</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Grand Canyon</td>
        <td>AZ</td>
        <td>509,700,000</td>
    </tr>